{% extends 'layout.html' %}
<!DOCTYPE html>
<html>
  <head>
    <title>Podcast Library</title>
  </head>

  <body>
    {% block web %}Library{% endblock %}
      {% block content %}
      <p>
        Welcome to Pod Library! Your gateway to a world of podcasts! Discover, explore, and enjoy a vast
        collection of podcasts across all genres. Whether you're into deep
        discussions, casual chats, or inspiring stories, our platform connects
        you with the best audio content from around the globe.
      </p> {% endblock %}
  </body>
</html>
