{% extends 'layout.html' %}
  {% block head %}
    <title>Podcast Home</title>    
  {% endblock %}

    {% block web %}Podcast Home{% endblock %}
      {% block content %}
      <p> <br>
        Welcome to Pod Library! Your gateway to a world of podcasts! Discover, explore, and enjoy a vast
        collection of podcasts across all genres. Whether you're into deep
        discussions, casual chats, or inspiring stories, our platform connects
        you with the best audio content from around the globe.
      </p> {% endblock %}
