<!DOCTYPE html>
<html>
  <head>
    <title>CS235 Podcast Library</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>

  <body>
    {% include 'navbar.html' %}
    <div class="content">
      <div class="heading">CS235 Podcast Library</div>
      <p>&copy ilin908 | pche238 | wzha899</p>
      <hr />
      <h2>Welcome to Pod Library!</h2>
      <p>
        Your gateway to a world of podcasts! Discover, explore, and enjoy a vast
        collection of podcasts across all genres. Whether you're into deep
        discussions, casual chats, or inspiring stories, our platform connects
        you with the best audio content from around the globe.
      </p>
    </div>
  </body>
</html>
