<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>

  <body>
    {% include 'navbar.html' %}
    <div class="content">
      <header>
        <div class="heading">CS235 Podcast {% block web %}{% endblock %}</div>
         {% include 'copyright.html' %}
      </header>
      
      <div class="intro">
        {% block content %}{% endblock %}      
      </div>

      <div class="catalogue-container">
        {% block cataContent %}{% endblock %}
      </div>

      <div class="pagination">
        {% block catapagnt %}{% endblock %}
      </div>

  </body>
</html>
